.DS_Store
.env
.netrc
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.build
/Packages
DerivedData/
Package.resolved
xcuserdata/

# Python
__pycache__/
*.egg-info/
*.ruff_cache/
