.build/
.DS_Store
.env
.netrc
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.xcodeproj
*.xcworkspace
Derived/
DerivedData/
graph.dot
Package.resolved
Packages/
xcuserdata/
