---

name: Run Tests

on: pull_request

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Bootstrap
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "SHELL: ${SHELL}"
          make up

      - name: Test
        run: |
          "${HOME}/.local/bin/mise" exec -- just test
